<!DOCTYPE html>
<html>
  <head>
    <title>delphi.market</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="flex flex-column text-center justify-center h-100vh">
      <code>
        <strong>
          <pre>
__        _____ ____  
\ \      / /_ _|  _ \ 
 \ \ /\ / / | || |_) |
  \ V  V /  | ||  __/ 
   \_/\_/  |___|_|    </pre>
        </strong>
      </code>
      <div class="font-mono mb-1">Work In Progress</div>
      <div>
        {{if .user}} You are logged in as {{.user}} {{end}}
      </div>
    </div>
  </body>
</html>
