package pages

import "git.ekzyis.com/ekzyis/delphi.market/server/router/pages/components"

templ About() {
	<html>
		@components.Head()
		<body class="container">
			@components.Header()
			<div id="content" class="flex flex-col text-center">
				@components.Figlet("random", "about")
				<div class="flex flex-col mb-3">
					<h1>📈 Prediction market?</h1>
					<p>Here is an animated corgi that explains everything you need to know about prediction markets in 7 minutes:</p>
					<iframe
						class="my-3 mx-auto"
						src="https://www.youtube.com/embed/DB5TfX7eaVY?si=FFG9wEun1VRl5p6w"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						referrerpolicy="strict-origin-when-cross-origin"
						allowfullscreen
					></iframe>
					<h1>👨‍💻 FOSS?</h1>
					<p class="mb-3">
						Yes! The code is available on
						<a href="https://github.com/ekzyis/delphi.market/" target="_blank" rel="noopener noreferrer">Github</a>
						or
						<a href="https://git.ekzy.is/ekzyis/delphi.market/" target="_blank" rel="noopener noreferrer">Gitea</a>
						under the MIT License.
					</p>
					<h1>💬 Contact?</h1>
					<p class="mb-3">
						If you have feedback, questions, bugs, ideas or anything else, feel free to reach out to me:
						<br/>
					</p>
					<div class="text-center">
						<a
							href="https://stacker.news/ek"
							target="_blank"
							rel="noopener noreferrer"
						>
							stacker news
						</a> |
						<a
							href="https://simplex.chat/contact#/?v=1-2&smp=smp%3A%2F%2F6iIcWT_dF2zN_w5xzZEY7HI2Prbh3ldP07YTyDexPjE%3D%40smp10.simplex.im%2FxNnPk9DkTbQJ6NckWom9mi5vheo_VPLm%23%2F%3Fv%3D1-2%26dh%3DMCowBQYDK2VuAyEAnFUiU0M8jS1JY34LxUoPr7mdJlFZwf3pFkjRrhprdQs%253D%26srv%3Drb2pbttocvnbrngnwziclp2f4ckjq65kebafws6g4hy22cdaiv5dwjqd.onion"
							target="_blank"
							rel="noopener noreferrer"
						>
							simplex
						</a> |
						<a
							href="https://t.me/ekzyis"
							target="_blank"
							rel="noopener noreferrer"
						>telegram</a> |
						<a
							href="https://signal.me/#eu/Qa/0P3M1keYAUju1LMktobIwHvEKTEMaQfGjjkL5U5ajYpsa6uFKvp165NDCTOXK"
							target="_blank"
							rel="noopener noreferrer"
						>
							signal
						</a> |
						<a
							href="https://njump.me/npub16x07c4qz05yhqe2gy2q2u9ax359d2lc0tsh6wn3y70dmk8nv2j2s96s89d"
							target="_blank"
							rel="noopener noreferrer"
						>nostr</a>
					</div>
				</div>
			</div>
			@components.Footer()
		</body>
	</html>
}
