package pages

import (
	"fmt"
	"git.ekzyis.com/ekzyis/delphi.market/server/router/pages/components"
)

templ Index() {
	<html>
		@components.Head()
		<body class="container">
			@components.Header()
			<div class="flex flex-col text-center">
				<code class="my-3">
					<strong>
						<!-- need to escape backslashes or backtick here ... -->
						<pre>
							{ fmt.Sprintf(""+
"     _      _       _     _ \n"+
"  __| | ___| |_ __ | |__ (_)\n"+
" / _` |/ _ \\ | '_ \\| '_ \\| |\n"+
"| (_| |  __/ | |_) | | | | |\n"+
" \\__,_|\\___|_| .__/|_| |_|_|\n"+
"             |_|            \n") }
						</pre>
					</strong>
				</code>
				<div class="font-mono my-3">A prediction market using the lightning network</div>
			</div>
			@components.Footer()
		</body>
	</html>
}
