package pages

import "git.ekzyis.com/ekzyis/delphi.market/server/router/pages/components"

templ LnAuth(lnurl string, action string) {
	<html>
		@components.Head()
		<body class="container">
			@components.Nav()
			<div id="content" class="flex flex-col text-center">
				@components.Figlet("random", action)
				<small><code>with lightning</code></small>
				<div
					class="flex flex-col my-3 text-center"
					hx-target="#content"
					hx-swap="outerHTML"
					hx-select="#content"
					hx-push-url="true"
				>
					@components.Qr(lnurl, "lightning:"+lnurl)
				</div>
				<div hx-get="/session" hx-trigger="every 1s" hx-swap="none"></div>
			</div>
			@components.Footer()
		</body>
	</html>
}
