package pages

import "git.ekzyis.com/ekzyis/delphi.market/server/router/pages/components"

templ Login() {
	<html>
		@components.Head()
		<body class="container">
			@components.Header()
			<div class="flex flex-col text-center">
				@components.Figlet("random", "login")
			</div>
			<div class="flex flex-col mb-3 text-center">
				<button class="login lightning my-3">login with lightning</button>
				<button class="login nostr my-3">login with nostr</button>
			</div>
			<div class="flex flex-col mb-3 text-center">
				<small><a class="text-muted" href="/signup">new here?</a></small>
			</div>
			@components.Footer()
		</body>
	</html>
}
