@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #191d21;
  --color: #d3d3d3;
  --muted-color: #6c757d;
  --lightning-color: #fada5e;
  --nostr-color: #8d45dd;
  --black: #000;
  --white: #fff;
}

@layer base {
  body {
    background-color: var(--background-color);
    color: var(--color);
    transition: background-color 150ms ease-in;
  }

  footer {
    color: var(--muted-color);
  }

  hr {
    border-color: var(--muted-color);
    border-style: dashed;
    @apply pb-1;
  }

  a:not(.no-link),
  button[hx-get],
  button[hx-post] {
    transition: background-color 150ms ease-in, color 150ms ease-in;
  }

  a:not(.no-link):hover,
  button[hx-get]:hover,
  button[hx-post]:hover {
    background-color: var(--color);
    color: var(--background-color);
  }

  a:not(.no-link),
  button[hx-get] {
    text-decoration: underline;
  }

  button[hx-post] {
    border-width: 1px;
  }

  nav a,
  button[hx-get],
  button[hx-post] {
    padding: 0 0.25em;
  }

  h1 {
    font-size: 24px
  }

  iframe {
    width: 300px;
    aspect-ratio: 560/315;
  }

  .text-muted {
    color: var(--muted-color);
  }

  .figlet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 144px;
    @apply my-3
  }

  .login, .signup {
    text-decoration: none !important;
    transition: none !important;
    padding: 0.25em 1em !important;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: bold;
  }

  .lightning {
    background-color: var(--lightning-color) !important;
    color: var(--black) !important;
  }

  .lightning:hover {
    filter: brightness(125%) drop-shadow(0 0 0.33rem var(--lightning-color));
  }

  .nostr {
    background-color: var(--nostr-color) !important;
    color: var(--white) !important;
  }

  .nostr:hover {
    filter: brightness(125%) drop-shadow(0 0 0.33rem var(--nostr-color));
  }
}