package components

import "git.ekzyis.com/ekzyis/delphi.market/lib"

templ Figlet(font string, text string) {
	<code class="figlet">
		<strong>
			<pre>
				{ lib.Figlet(font, text) }
			</pre>
		</strong>
	</code>
}
