@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  color: #ffffff;
  border: solid 1px #8787A4;
  padding: 0 1em;
}

button:hover {
  color: #ffffff;
  background: #8787A4;
}

a {
  color: #8787a4;
  text-decoration: underline;
}

a:hover {
  color: #ffffff;
  background: #8787A4;
}

a.selected {
  color: #ffffff;
  background: #8787A4;
}
